<?php

$menu = require '../config/menu.php';
$icon_menu = require '../config/icon_menu.php';
$tablefields = require '../config/tablefields.php';

return [
    'base_url' => 'http://localhost:8080',
    'default_page' => 'default/index',
    'database' => [
        'driver'   => 'PDO',
        'host'     => 'localhost',
        'username' => 'root',
        'password' => '',
        'dbname' => 'profilematching_db', // 'notif-sql-1',
        'port' => NULL,
        'socket' => NULL
    ],
    'auth' => 'session',
    'menu' => [
        'menu' => $menu,
        'icon' => $icon_menu
    ],
    'fields' => $tablefields
];